[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"

[[plugins]]
  package = "@astrojs/netlify"

[functions]
  node_bundler = "esbuild"
  included_files = ["prisma/**/*"]

